<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>P4U</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>org.kccc.P4U</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>P4U</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Download Paths</key>
	<dict>
		<key>Chinese</key>
		<string>http://soontv.kccc.org/media/download/SandArtP4U_mobile_Chinese.mp4</string>
		<key>ChineseTraditional</key>
		<string>http://soontv.kccc.org/media/download/SandArtP4U_mobile_Chinese(Traditional).mp4</string>
		<key>English</key>
		<string>http://soontv.kccc.org/media/download/SandArtP4U_mobile_English.mp4</string>
		<key>French</key>
		<string>http://soontv.kccc.org/media/download/SandArtP4U_mobile_French.mp4</string>
		<key>Hindi</key>
		<string>http://soontv.kccc.org/media/download/SandArtP4U_mobile_Hindi.mp4</string>
		<key>Indonesia</key>
		<string>http://soontv.kccc.org/media/download/SandArtP4U_mobile_Indonesian.mp4</string>
		<key>Japanese</key>
		<string>http://soontv.kccc.org/media/download/SandArtP4U_mobile_Japanese.mp4</string>
		<key>Korean</key>
		<string>http://soontv.kccc.org/media/download/SandArtP4U_mobile_Korean.mp4</string>
		<key>Mongolia</key>
		<string>http://soontv.kccc.org/media/download/SandArtP4U_mobile_Mongolia.mp4</string>
		<key>Nepali</key>
		<string>http://soontv.kccc.org/media/download/SandArtP4U_mobile_Nepali.mp4</string>
		<key>Polish</key>
		<string>http://soontv.kccc.org/media/download/SandArtP4U_mobile_Polish.mp4</string>
		<key>Russian</key>
		<string>http://soontv.kccc.org/media/download/SandArtP4U_mobile_Russian.mp4</string>
		<key>Spanish</key>
		<string>http://soontv.kccc.org/media/download/SandArtP4U_mobile_Spanish.mp4</string>
		<key>Turkish</key>
		<string>http://soontv.kccc.org/media/download/SandArtP4U_mobile_Turkish.mp4</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
